<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
<title>Videos and Articles</title>
</head>

<body>


		<div id="title">

			<h1> VIDEOS </h1>

		</div>

		<div id="main">

			<div id="choice">

				<div id="pill">

					<div id="choice1">

						<h3 id="c1"> VIDEOS </h3>

					</div>

					<div id="choice2">

						<h3 id="c2"> ARTICLES </h3>


					</div>


				</div>


			</div>

			<div id="content">

				
			</div>


		</div>









		
<script src="../static/js/jquery-1.11.2.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>